<div style="max-width: 30vw; width: 200px">
    {%- if site.profile_picture -%}
        <img class="profile-picture" src="{{ site.profile_picture }}" />
    {%- endif -%}

    <div style="height: 15px"></div>

    {%- if site.author.name -%}
        <div class="profile-name">{{ site.author.name }}</div>
    {%- endif -%}

    {%- if site.author.username -%}
        <div class="profile-username">{{ site.author.username }}</div>
    {%- endif -%}

    <div style="height: 15px"></div>

    <table class="profile-table">
        {%- for social in site.socials -%}
            <tr>
                <td>
                    <img class="profile-icon" src="{{ '/assets/svg/' | append: social.platform | append: '.svg' | relative_url }}" />
                </td>
                <td>
                    <a class="profile-link" href="{{ social.link }}" target="#">{{ social.preview }}</a>
                </td>
            </tr>
        {%- endfor -%}
    </table>
</div>
