<!DOCTYPE html>
<html lang="en">

    {%- include head.html -%}

    <body>
        
        {%- include header.html -%}

        <div class="flex-container">
            <div class="wrapper">
                {%- include sidebar.html -%}
            </div>
            <main class="page-content" aria-label="Content">
                <div class="wrapper">
                    {{ content }}
                </div>
            </main>
        </div>

        {%- include footer.html -%}

    </body>
</html>
